html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
  color: $color--dark;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  font-family: $font-serif;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  padding: 0.8em 1em;
  border-radius: 15px;
  border: 1px solid white;
  color: $color--dark;
  text-align: center;
  width: 50%;

  span {
    position: relative;
    z-index: 100;
  }
  &--primary {
    background-color: $color--accent;
    border: 1px solid transparent;

    &:hover::after {
      transition-duration: 1s;
      transform: translateX(-100%);
      animation: sheen 1s;
    }

    &::after {
      content: "";
      transition-duration: 1s;
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      display: block;
      background: linear-gradient(
        0.3turn,
        $color--accent 40%,
        $color--light 70%,
        $color--accent 90%
      );
    }
  }
}
